$text: #ffffff;
$text-2: #BBB3AC;
$background: #2d2924;
$primary: #ceadac;
$secondary: #436c40;
$accent: #7bb198;
$background-2: #34302b;
$background-3: #3f3b35;
$background-4: #4C453E;

$legendaire: #ff7200;
$background-off: #4C453E;
$background-on: #72675C;