@use "../../../../styles/variables" as v;

.level-filter-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.dropdown {
    margin-bottom: 10px;
}

.dropdown-select {
    outline: none;
    border: none;
}


