@use "../../../../styles/variables" as v;

.level-filter-container {
    width: 100%;
}

.range_container {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0px auto;
    margin-top: 20px;
    outline: none;
}

.sliders_control {
    position: relative;
    outline: none;
    // min-height: 0px;
}

.form_control {
    width: 205px;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: space-between;
    outline: none;
}



/* MOZILLA STUFF */
.range-input::-moz-range-thumb {
    -moz-appearance: none;
    pointer-events: all;
    width: 23px;
    height: 23px;
    background-color: v.$primary-yellow;
    border-radius: 50%;
    // box-shadow: 0 0 0 1px v.$background-deep;
    cursor: pointer;
    border: none;
}

.range-input:focus {
    outline: none;
}

.range-input::-moz-range-thumb:hover {
    // background: #f7f7f7;
    background-color: v.$background-deep;
}

.range-input::-moz-range-thumb:active {
    background-color: v.$background-deep;
    box-shadow: inset 0 0 3px v.$primary-yellow, 0 0 9px v.$primary-yellow;
    -webkit-box-shadow: inset 0 0 3px v.$primary-yellow,
        0 0 9px v.$primary-yellow;
}
/* MOZILLA STUFF */



.range-input::-webkit-slider-thumb {
    -webkit-appearance: none;
    pointer-events: all;
    width: 26px;
    height: 26px;
    background-color: v.$primary-yellow;
    border-radius: 50%;
    // box-shadow: 0 0 0 1px #c6c6c6;
    cursor: pointer;
}

.range-input::-webkit-slider-thumb:hover {
    // background: #f7f7f7;
    background-color: v.$background-deep;
}

.range-input::-webkit-slider-thumb:active {
    background-color: v.$background-deep;
    box-shadow: inset 0 0 3px v.$primary-yellow, 0 0 9px v.$primary-yellow;
    -webkit-box-shadow: inset 0 0 3px v.$primary-yellow,
        0 0 9px v.$primary-yellow;
}

.form_control_container__time {
    display: flex;
    flex-direction: row;
    align-items: center;
}


.form_control_container__time__input {
    color: v.$text-offwhite;
    width: 60px;
    height: 30px;
    font-size: 20px;
    border: none;
    text-align: center;
    // -webkit-appearance: none;  /* Chrome, Safari, Opera */
    // -moz-appearance: textfield; /* Firefox */
    // appearance: textfield; /* Standard */
    outline: none;
    background: none;
    text-shadow: 3px 1px 3px rgba(41, 38, 33, 0.7);
}

.form_control_container__time__input::-webkit-inner-spin-button {
    opacity: 1;
    background-color: #ffff;
    // -webkit-appearance: none; /* Safari and Chrome */
    // -moz-appearance: textfield; /* Firefox */
    // appearance: textfield; /* Standard */
    // display: none;
}

.form_control_container__time__input::-webkit-outer-spin-button {
    opacity: 0;
    display: none;
}

/* MOZILLA STUFF */
.form_control_container__time__input::-moz-inner-spin-button {
    opacity: 1;
    background-color: #ffff;
    // -webkit-appearance: none; /* Safari and Chrome */
    // -moz-appearance: textfield; /* Firefox */
    // appearance: textfield; /* Standard */
    // display: none;
}

.form_control_container__time__input::-moz-outer-spin-button {
    opacity: 0;
    display: none;
}
/* MOZILLA STUFF */



.range-input {
    -webkit-appearance: none;
    appearance: none;
    height: 4px;
    width: 100%;
    position: absolute;
    pointer-events: none;
}

.thumb-1 {
    z-index: 1;
    // scale: 0.8;
}

.thumb-2 {
    position: absolute;
    top: -2px;
}
