@use "../../../../styles/variables" as v;


.search-bar-container {
    width: 90%;
    margin: 0 auto;
    margin-top: 10px;
    display: flex;
    align-items: center;
    height: 60px;
}

@media screen and (max-width: 600px) {
    .search-bar-container {
      margin: 0 auto;
    }
  
}

.input {
    background-color: v.$background-deep;
    border-radius: 40px;
    width: 70%;
    height: 40px;
    margin: 0 auto;
    border: 3px solid v.$background-light;
    padding-left: 10px;
    font-family: inherit;
    scale: 0.9;
    transition: width 0.3s ease;
    text-align: center;
    padding-right: 15px;
    text-decoration: none;

    &:hover {
        border: 2px solid v.$text-offwhite;
        border-radius: 40px;
    }

    &:focus {
        scale: 1;
        width: 85%;
        outline: none;
        border: 3px solid v.$primary-yellow;
        color: v.$text-offwhite;
        text-decoration: none;
    }

    &:not(:placeholder-shown) {
        scale: 1;
        width: 85%;
        outline: none;
        border: 3px solid v.$primary-yellow;
        border-radius: 40px;
        color: v.$text;
        text-decoration: none;
    }
}