@use "../../../styles/variables.scss" as v;

.filter-container {
  width: 230px;
  background-color: v.$background;
  position: fixed;
  // top: 0px;
  left: 0px;
  height: 100vh;
  overflow-y: auto;
  z-index: 4;
  padding: 0;
}

@media screen and (max-width: 600px) {
  .filter-container {
    width: 100%;
    position: fixed;
    height: 80vh;
    z-index: 2;
    // left: 50%; USED TO CENTER IF WE WANT TO REDUCE WIDTH
    // transform: translateX(-50%);
  }
}

.header-container {
  display: flex;
  flex-direction: row;
  height: 60px;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .header-container {
    margin-top: 20px;
  }
}

.header-title {
  flex-grow: 1;
  padding-left: 25px;
  color: v.$text;
}

@media screen and (max-width: 600px) {
  .header-container {
    margin-top: 10px;
    height: 40px;
  }
  .header-title {
    text-align: center;
    padding-left: 0;
  }
}

.horizontal-separator {
  width: 80%;
  height: 3px;
  background-color: v.$background-light;
  border-radius: 12px;
  margin: 0 auto;
}

.header-icons-container {
  display: flex;
  flex-direction: row;
  width: 70px;
  align-items: center;
  margin-right: 20px;
  justify-content: space-around;
}

.reset-icon,
.sort-icon {
  cursor: pointer;
  background-color: v.$background-off;
  border-radius: 4px;
  &:hover {
    background-color: v.$background-deep;
  }
}

.sorting-options-container {
  position: fixed;
  z-index: 10;
  width: 220px;
  height: 112px;
  left: 230px;
  top: 0px;
  background-color: v.$background;
  border: 3px solid v.$background-light;
  display: flex;
  flex-direction: column;
  border-radius: 0 4px 4px 0;
  justify-content: center;
  align-items: center;
  text-align: left;
  transition: opacity 0.3s ease-in-out, height 0.3s ease-in-out;
}

.sorting-option {
  width: 100%;
  cursor: pointer;
  color: v.$text-offwhite-nofocus;
  padding-left: 7px;
  font-size: 0.9rem;
}

.sorting-option:hover {
  background-color: v.$background-light;
  color: v.$text;
}

.selected {
  visibility: visible;
}

.hide {
  visibility: hidden;
}
