@use "../../../styles/variables.scss" as v;

.header-container {
    height: 80px;
    width: 100%;
    background-color: v.$primary-yellow;
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.title-container {
    display: flex;
    flex-direction: row;
    position: relative;
    left: -230px;
    align-items: center;
}

.first-part-title {
    height: 100%;
    font-size: 2rem;
    color: v.$background;
    // margin-top: 16px;
}

.second-part-title {
    height: 100%;
    font-size: 3rem;
    color: v.$background-deep;
}