@use "../../../styles/variables.scss" as v;

.header-container {
    height: 80px;
    width: 100%;
    background-color: v.$primary-yellow;
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.h1 {
    font-size: 3.5rem;
    margin-left: 10px;;
    color: v.$background-deep;
}