@use "../../../styles/variables.scss" as v;

.header-container {
  height: 60px;
  width: 100%;
  // width: calc(100% - 230px);
  background-color: v.$primary-yellow;
  // position: fixed;
  // top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  z-index: 3;
}

@media screen and (max-width: 600px) {
  .header-container {
    width: 100%;
  }
}

.title-container {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .title-container {
    margin-left: 0px;
  }
}

.first-part-title {
  height: 100%;
  font-size: 2rem;
  color: v.$background;
  // margin-top: 16px;
}

.second-part-title {
  height: 100%;
  font-size: 3rem;
  color: v.$background-deep;
}

.menu-icon-container {
  min-width: 50px;
  height: 100%;
  display: flex;
  align-items: center;
}
