.language-container {
    width: 200px;
    display: flex;
    position: absolute;
    right: 220px;
    top: 25px;
    justify-content: space-evenly;
}


.opacity-100 {
    opacity: 1;
}

.opacity-30 {
    opacity: 0.3;
}