.language-container {
    width: 100%;
    display: flex;
    position: absolute;
    bottom: 100px;
    justify-content: space-evenly;
}


.opacity-100 {
    opacity: 1;
}

.opacity-30 {
    opacity: 0.3;
}