$primary-yellow: #f9be25;
$primary-yellow-off: #d49902;
$primary-accent: #FFD700;

$text: #ffffff;
$text-offwhite: #999999;
$text-offwhite-nofocus: #C2C2C2;

$background: #333333;
$background-light: #777777;
$background-mid: #666666;
$background-off: #484848;
$background-deep: #1E1E1E;


$error: #FF6347;
$link: #1E90FF;

@mixin no-select() {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
