@use "./variables.scss" as v;

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  // min-height: 100vh;
}

.cat-buttons {
  margin: 2rem;
}

.global-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  // width: calc(100% - 230px);
  // margin-left: 230px;
}

@media screen and (max-width: 600px) {
  .global-container {
    width: 100%;
    margin-left: 0px;
  }
}

.faq-container {
  background-color: v.$background-deep;
  flex-grow: 0;
  position: relative;
  width: calc(100% - 48px);
  margin-left: 48px;
  min-height: calc(100% - 110px);
}
