@use "./variables.scss" as v;

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    // min-height: 100vh;
}

.cat-buttons {
    margin: 2rem;
}

.global-container {
    display: flex;
    flex-direction: row;
    width: calc(100% - 230px);
    margin-left: 230px;
}

.item-list {
    background-color: v.$background-deep;
    flex-grow: 0;
    position: relative;
    top: 80px;
    // height: 2000px;
}
