@use "./variables.scss" as v;

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  // min-height: 100vh;
}

.cat-buttons {
  margin: 2rem;
}

.global-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.item-list {
  background-color: v.$background-deep;
  flex-grow: 0;
  position: relative;
  left: 278px;
  width: calc(100% - 278px);
  min-height: calc(100% - 110px);
}

@media screen and (max-width: 600px) {
  .global-container {
    width: 100%;
    margin-left: 0px;
  }

  .item-list {
    left: 0px;
    width: 100%;
  }
}
