@use "../../../styles/variables.scss" as v;

.cards-container {
  // padding-top: 60px;
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  grid-gap: 30px 30px;
}

.test-button {
  padding: 2rem;
}
